* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 3px;
}

span {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 3px;
}

span > div {
  border: solid green 3px;
  padding: 3px;
  padding-right: 20px;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: blanchedalmond;
}

.leftTables {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 50%;
}
.lefttableLink {
  margin: 100px;
  width: 50%;
  height: 100px;
  background-color: blueviolet;
}
.rightTable {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: aqua;
}
table,
th,
td,
tr {
  border: solid black 3px;
  border-collapse: collapse;
}
table {
  width: 100%;
}
/* td {
  width: 60%;
  height: 50px;
  overflow: auto;
  border: 70%;
} */

.table_2 {
  margin: 100px;
  width: 400px;
  height: 100px;
  background-color: blueviolet;
}
